{% include 'Common_scripts/nav.html' %}
<br>
<h1>Liste des Utilisateurs Attribué a chaque projets</h1><br>

<div class="table-responsive">
    <table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID Utilisateur</th>
            <th>Nom Utilisateur</th>
            <th>ID Projets</th>
            <th>Nom Projets</th>
            <th>Temps nécessaire</th>
        </tr>
    </thead>
    <tbody>
        {% for U in Users %}
        <tr>
            <td>{{ U[0] }}</td>
            <td>{{ U[1] }}</td>
            <td>{{ U[2] }}</td>
            <td>{{ U[3] }}</td>
            <td>{{ U[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<br>
<h1>Liste des Projets </h1><br>

<div class="table-responsive">
    <table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>ID Projets</th>
            <th>Nom Projets</th>
        </tr>
    </thead>
    <tbody>
        {% for E in Equipe %}
        <tr>
            <td>{{ E[0] }}</td>
            <td>{{ E[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% include 'Common_scripts/footer.html' %}





