		<h1>Login</h1>
<body>
	<div class="login-form">
		<form action="http://127.0.0.1:5000/" method="POST">
			<input type="text" placeholder="Login" name="Login" value="">
			<input type="text" placeholder="Password" name="Password" value="">
			<input type="submit" value="Login" class="btn btn-primary btn-large btn-block">
		</form>
		<form action="http://127.0.0.1:5000/createUser" method="GET">
			<input type="submit" value="Créer un nouvel utilisateur" class="btn btn-primary btn-large btn-block">
		</form>
	</div>
</body>